POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cae_db

DATABASE_URL=postgres://postgres:postgres@postgres:5432/cae_db
JWT_SECRET=troque_esta_chave_secreta
FRONTEND_URL=http://localhost
PORT=3333
